<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoOemTableId</key>
			<true/>
			<key>DropOem</key>
			<false/>
			<key>NoDynamicExtract</key>
			<true/>
		</dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WEhDSQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change XHCI to XHC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U0FUMQ==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SAT1 to SATA</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>UENJMFZJRF8=</data>
					<key>Replace</key>
					<data>UENJMElHUFU=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #1 (Thinkpad)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>VklEXwhfQURSDAAAAgA=</data>
					<key>Replace</key>
					<data>SUdQVQhfQURSDAAAAgA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #2 (Thinkpad)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1dBSwE=</data>
					<key>Replace</key>
					<data>WldBSwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_WAK,1,N) to ZWAK</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RVNFTAg=</data>
					<key>Replace</key>
					<data>RVNFWgg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(ESEL,0,S) to ESEZ, pair with SSDT-ESEL.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>EhUDCm0KA14=</data>
					<key>Replace</key>
					<data>EhUDCm0KAF4=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Instant Wake Fix #1 _PRW 0x6D (0x03 to 0)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>EgYCCm0KBA==</data>
					<key>Replace</key>
					<data>EgYCCm0KAA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Instant Wake Fix #2 _PRW 0x6D (0x04 to 0)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0JJRgM=</data>
					<key>Replace</key>
					<data>WEJJRgM=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(GBIF,3,N) to XBIF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0JTVAQ=</data>
					<key>Replace</key>
					<data>WEJTVAQ=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(GBST,4,N) to XBST</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0wwRA==</data>
					<key>Replace</key>
					<data>WEwwRA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(L0D,0,N) to XL0D</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>hkJBVDAKgA==</data>
					<key>Replace</key>
					<data>hkJBVEMKgA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Notify(BAT0, 0x80 to BATC)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>hkJBVDEKgA==</data>
					<key>Replace</key>
					<data>hkJBVEMKgA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Notify(BAT1, 0x80 to BATC)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>hkJBVDAKgQ==</data>
					<key>Replace</key>
					<data>hkJBVEMKgQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Notify(BAT0, 0x81) to (BATC, 0x81)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVQxAQ==</data>
					<key>Replace</key>
					<data>hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVRDAQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Notify(_SB.PCI0.LPC.EC.BAT1, 0x01) to (BATC, ...)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVQxCgM=</data>
					<key>Replace</key>
					<data>hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVRDCgM=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Notify(_SB.PCI0.LPC.EC.BAT1, 0x03) to (BATC, ...)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExNQA=</data>
					<key>Replace</key>
					<data>WFExNQA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_Q15,0,N) to XQ15</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExNAA=</data>
					<key>Replace</key>
					<data>WFExNAA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_Q14,0,N) to XQ14</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1E2QQA=</data>
					<key>Replace</key>
					<data>WFE2QQA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_Q6A,0,N) to XQ28</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExNgA=</data>
					<key>Replace</key>
					<data>WFExNgA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_Q16,0,N) to XQ19</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1E2NAA=</data>
					<key>Replace</key>
					<data>WFE2NAA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_Q64,0,N) to XQ2A</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1E2NgA=</data>
					<key>Replace</key>
					<data>WFE2NgA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_Q66,0,N) to XQ66</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1E2NwA=</data>
					<key>Replace</key>
					<data>WFE2NwA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_Q67,0,N) to XQ67</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1E2OAA=</data>
					<key>Replace</key>
					<data>WFE2OAA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_Q68,0,N) to XQ68</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1E2OQA=</data>
					<key>Replace</key>
					<data>WFE2OQA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_Q69,0,N) to XQ69</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixUSB</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>FixDisplay</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>FixAirport</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>#Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FixShutdown</key>
				<true/>
				<key>FixLAN</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixHDA</key>
				<true/>
			</dict>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>CpuPm</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Ist</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Secure</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>CustomLogo</key>
		<string>Theme</string>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>dart=0 -cdfon alcid=15</string>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Timeout</key>
		<integer>10</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Hidden</key>
					<false/>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
				</dict>
				<dict>
					<key>Type</key>
					<string>Windows</string>
					<key>Disabled</key>
					<false/>
					<key>Title</key>
					<string>Windows</string>
					<key>Ignore</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>ScreenResolution</key>
		<string>1366x768</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>Emerald</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>15</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
				<key>Value</key>
				<data>b25ib2FyZC0xAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Device</key>
				<string>IntelGFX</string>
			</dict>
		</array>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAkAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable 9MB cursor bytes, 0x0a260006</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAAIAAAAAwAAAAM=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Enable 128MB DVMT-prealloc, 48MB framebuffer, 48MB cursor bytes, 0x0a260006</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQUSAAAEAACHAAAA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>MiniDP-audio, port 0105(12), 0x0a260006</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Enable TRIM for SSD (Only for HFS+J)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>Comment</key>
				<string>BT4LE/Handoff/Hotspot (lisai9093)</string>
				<key>Disabled</key>
				<true/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
				<key>MatchOS</key>
				<string>10.11.x, 10.12.x, 10.13.x</string>
			</dict>
		</array>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>MatchOS</key>
				<string>10.12.x,10.11.x</string>
			</dict>
		</array>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IO80211Family.kext</string>
		</array>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<string>UseMacAddr0</string>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xE80FE137</string>
		<key>Board-ID</key>
		<string>Mac-189A3D4F975D5FFC</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>BiosVersion</key>
		<string>MBP111.88Z.F000.B00.2006101815</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C17404100CDFH318C</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro11,1</string>
		<key>SmUUID</key>
		<string>A056C652-721D-447E-B95E-1411E6436931</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>162.0.0.0.0</string>
		<key>SerialNumber</key>
		<string>C17M50UWFH00</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>06/10/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
</dict>
</plist>